:root {
  --active-input-border: linear-gradient(
    0deg,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  --input-error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 18px;
}

main {
  min-height: 100vw;
}
