.card-front {
  position: absolute;

  color: var(--white);

  container: card / size;
  background-image: url("/assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 447/245;

  // max-width: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 25px 25px hsla(0, 0%, 0%, 0.2);
}

img.logo {
  max-width: 20%;
}

.card-data {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.card-hold-data {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 799px) {
  .card-front {
    bottom: 0;

    width: 82%;
    padding: clamp(0.75rem, 5%, 2rem);
  }
}

@media screen and (min-width: 800px) {
  .card-front {
    bottom: 55%;
    min-width: 300px;
    width: 90%;
    max-width: 480px;
    padding: clamp(1rem, 7.5%, 2rem);
  }
}

@container card (min-width: 0px) {
  .card-number {
    font-size: 7.2cqw;
    margin-bottom: 10cqh;
  }

  .card-hold-data {
    font-size: 3.5cqw;
  }
}
